/*Reset y Configuración Global*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
   
        text-decoration: none; 
        color: rgb(0, 0, 0); 
        transition: transform 0.3s ease, color 0.3s ease; 
}
    
a:hover {
        transform: scale(1.1); 
        color: rgb(115, 115, 115); 
    }




/*Estructura de la Página y Secciones*/
.header-wrapper {
    height: 100px; 
    width: 100%;
	
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5px 2%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    z-index: 1000;
}

/* Menú de Navegación */
.menu {
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end; 
}

.menu li {
    position: relative; 
    display: inline-block; 
}
.menu li a {
    display: block; 
    padding: 10px 15px;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
}

.submenu {
    display: none; 
    position: absolute; 
    left: 0; 
    top: 100%; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000; 
}

.menu li:hover .submenu {
    display: block; 
}

.submenu li {
    display: block; 
}

.submenu li a {
    padding: 10px 15px; 
    text-decoration: none; 
    display: block; 
}

.submenu li a:hover {
    background-color: #f0f0f0; 
}



/*Secciones de Contenido*/
/*Seccion*/
section {
    width: 100%; 
    margin: 0; 
    padding: 0; 
}
/* Sección Principal */

.imagen_fondo {
    
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px; 
    position: relative;
    
}

.img_index{

    background-image: url('../images/ftohome11.jpg'); 

}


/* Clase base con las propiedades compartidas */
.img_base {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Clases específicas para los diferentes fondos */
.img_temp {
    background-image: url('../images/foto_reparto.jpg'); 
}

.img_reparto {
    background-image: url('../images/fto_reparto_0.jpg'); 
}

.img_gale{

    background-image: url('../images/fto_galeria.jpg'); 
}




.fondo_contacto{
    background-color: #cdcdcd;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
}




h1 {
    text-align: center;
    margin: 20px 0; 
    font-size: 2.3rem; 
    color: #040404;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    margin-top: 120px;
    margin-bottom: 120px;

}

.scroll-appear{
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

}

/*Sección secundaria*/

.color_fondo {
	
        background-color: #f6f6f4; 
        
}

.contenido_secundario{

    display: flex;              
    align-items: center;  
    margin-left: 120px;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-right: 20px;    
    
}
.img {
    width: auto;
    height: auto;
    object-fit: cover;
    margin-right: 50px;
	border-radius: 20px;
    max-width: 100%; 
}

.par1 {
    max-width: 520px; 
    display: flex;
    flex-direction: column;
	margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.par1 .titulo_secundario  {
    font-size: 2.3rem; 
    margin-bottom: 5px; 
    font-weight: 400;


}
.par1 .parrafo_secundario {
    font-size: 1rem; 
    line-height: 1.4; 
    font-weight: 400;
    
}

h3{

    font-size:1.5rem ;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.img_gale{

    background-image: url(../images/fto_galeria.jpg);
}

/* Título en la Sección de Contacto */

.titulo_grande{
	
    color: rgb(255, 255, 255);
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    margin: 0; 
        

}
.tit_temp{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    justify-content: center; 
    margin-left: -425px;
    position:absolute;
    
}




/*Formulario de Contacto*/

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: 'Raleway', sans-serif;
    transition: border-color 0.3s; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #2b2c2d; 
    outline: none; 
}

button {
    background-color: #919293; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #4c4d4e; 
}


/* Contenedor de Formulario */


.form-container {
    display: flex; 
    align-items: center; 
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    box-sizing: border-box; 
    
}

form {
    width: 80%; 
    max-width: 600px; 
    margin: 0 20px 0 0; 
    padding: 20px; 
    background-color: #f6f6f4f3; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.ftoformulario img{
    max-width: 300px; 
    height: auto;
    margin-left: 20px; 
    border-radius: 5%;
}


.art_temp{

    background-image: url(../images/fondo_art_temp.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top:20px;
    width: 100%;
    height: 334px;
    background-position: center; 
    position: relative; 
}




.numero {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0); 
    margin-left: -140px;
}

.par_temp {
    font-family: 'Raleway', sans-serif;
    max-width: 650px;
    color: rgb(0, 0, 0); 
    
}

.imagen_temp {
   
    max-width: 300px; 
    height: auto; 
    margin-left: 50px;
    margin-right: 50px;
   
}









/*Pie de Página*/




footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 200px; 
    background-color: #f6f6f4; 
    padding: 20px;
}

footer .img {
    display: flex; 
    justify-content: center; 
    margin-bottom: 30px; 
    margin-left: 50px;
    margin-top: 30px;
}

footer .legales {
    text-align: center; 
}

footer .legales p {
    font-family: 'Raleway', sans-serif; 
    font-size: 0.8rem; 
    color: #000; 
    padding: 5px; 
}

footer img {
    max-width: 2rem; 
    width: 100%; 
    height: auto; 
    margin-right: 15px; 
}




.sorpresa {

    display: flex; 
    align-items: center; 
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 60px;
    justify-content: center;


}

.scroll-appear.active {
    opacity: 1;
    transform: translateY(0); 
  }

.comentario{

    font-family: 'Raleway' , sans-serif;
    padding: 10px;
    font-weight: 350;
    margin-left: -10px;
    font-size: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-auto-rows: 300px; 
    gap: 40px; 
    max-width: 100%;
    margin: 0 auto; 
    padding: 20px; 

    margin-top: 40px;
}

.galeria img {
    width: 100%; 
    height: 100%; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    object-fit: cover; 
}



.menu.active {
    display: block; 
}

.menu-toggle {
    cursor: pointer; 
    display: none; 
}

.menu-toggle .bar {
    display: block;
    width: 25px; 
    height: 3px; 
    background-color: black; 
    margin: 5px auto; 
}




/* Responsividad */

   /* Estilos para pantallas de hasta 576px */
@media (max-width: 576px) {
    
   



    .contenido_secundario p {
        text-align: left; 
        margin:20px;
    }

    p {
        text-align: left; 
        margin: 0; 
    }
    h2{
        text-align: center; 
        margin: 0; 
    }
    h3{
        
        margin: 0; 
    }
    .header-wrapper {
        height: 10px; 
    }

    header {
        flex-direction: column; 
        padding: 20px; 
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 50px;
    }

    .logo img{
        max-width: 100px; 
        width: auto; 
       
    }


.menu {
    
    display: none; 
    flex-direction: column; 
    background-color: rgba(255, 255, 255, 0.74); 
    position: absolute; 
    top: 60px; 
    left: 0;
    right: 0; 
    z-index: 1000; 
    
}
.menu li{

    display: flex; 
}
.menu-toggle {
    display: flex; 
    flex-direction: column; 
    cursor: pointer; 
    margin-left: auto; 
}


.menu-toggle .bar {
    width: 25px; 
    height: 2px; 
    background-color: #333; 
    margin: 4px; 
    transition: all 0.3s ease; 
}

    .numero{
        margin:-10px;
    }


    

.contenido_secundario .par_temp {
    max-width: fit-content;
    padding-bottom: 140px;
    font-size: smaller;
}

.contenido_secundario img {
    max-width: 100%; 
    height: auto; 
}

.art_temp{
    height: auto;
    padding:0;
}


    /* Ajustes en las imágenes de fondo */
    .imagen_fondo,
    .fondo_contacto
     {
        height: 50vh; 
    }
    

    h1 {
        font-size: 1.2rem; 
        
    }
    

    .titulo_grande
     {
        font-size: 1rem; 
        margin:0;
        padding:0;
    }

    .tit_temp {
        font-size: 1rem; 
        margin-left:-50px;
        padding-top:30px;
    }

    .img_base {
        height: 30vh; 
    }

    .img{
        max-width:70%;
        margin-top:10px;
        
        
    }

    .par1 .titulo_secundario{
        font-size: 1.2rem; 
        text-align: center;
    }

    
    
    .contenido_secundario {
        display: flex; 
        flex-direction: column; 
        margin-left: 0; 
        text-align: center; 
        padding:0;
        margin:20px;
    }

    .color_fondo .contenido_secundario{

        margin:20px;
        text-align: center;
       
    }

    .contenido_secundario .par1{
        font-size: smaller;
    }


    /* Ajustes para el formulario */
    .form-container {
        flex-direction: column; 
        margin-top: 50px; 
        
    }

    form {
        width: 90%; 
        margin: 0 auto; 
    }
    .ftoformulario{
        margin:30px;
        margin-left:-5px


    }
    footer {
        height: auto; 
        padding: 10px; 
    }

    .sorpresa {
        flex-direction: column; 
        align-items: center; 
        max-width: fit-content;
    }

    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
        gap: 20px; 
    }
}
