/*Reset y Configuración Global*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
   
        text-decoration: none; /* Elimina el subrayado por defecto */
        color: rgb(0, 0, 0); /* Color del enlace */
        transition: transform 0.3s ease, color 0.3s ease; /* Transición suave */
}
    
a:hover {
        transform: scale(1.1); /* Aumenta el tamaño al 110% */
        color: rgb(115, 115, 115); /* Cambia el color al pasar el mouse */
    }




/*Estructura de la Página y Secciones*/
.header-wrapper {
    height: 100px; 
    width: 100%;
	
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    z-index: 1000;
}
/* Menú de Navegación */
.menu {
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}

/* Logo */

.logo {
    margin-left: 15px;
}

/*Secciones de Contenido*/
/*Seccion*/
section {
    width: 100%; 
    margin: 0; 
    padding: 0; 
}
/* Sección Principal */

.imagen_fondo {
    
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px; /* Ajusta según tu diseño */
    position: relative;
    
}

.img_index{

    background-image: url('../images/ftohome11.jpg'); /* Ruta a la imagen */

}

.img_temp{

    background-image: url('../images/foto_reparto.jpg'); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px; /* Ajusta según tu diseño */
    position: relative;
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.fondo_contacto{
    background-color: #cdcdcd;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px; /* Ajusta según tu diseño */
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Mantiene el contexto de posicionamiento */
}




h1 {
    text-align: center;
    margin: 20px 0; /* Ajusta el margen */
    font-size: 2.3rem; /* Tamaño del texto */
    color: #040404;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    margin-top: 120px;
    margin-bottom: 120px;

}

.scroll-appear{
    opacity: 0;
    transform: translateY(20px); /* Aparece desde abajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

}

/*Sección secundaria*/

.color_fondo {
	
        background-color: #f6f6f4; /* Fondo que quieras usar */
        
}

.contenido_secundario{

    display: flex;              /* Mantiene la imagen y el texto en una fila */
    align-items: center;  /* Alinea verticalmente en el centro */
    margin-left: 120px;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-right: 20px;    
    
}
img {
    width: auto;
    height: auto;
    object-fit: cover;
    margin-right: 100px;
	border-radius: 20px;
}

.par1 {
    max-width: 520px; 
    display: flex;
    flex-direction: column;
	margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}

.par1 .titulo_secundario  {
    font-size: 2.3rem; 
    margin-bottom: 5px; 
    font-weight: 400;


}
.par1 .parrafo_secundario {
    font-size: 1rem; 
    line-height: 1.4; 
    font-weight: 400;
    
}

h3{

    font-size:1.5rem ;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}



/* Título en la Sección de Contacto */

.titulo_grande{
	
    color: rgb(0, 0, 0);
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center; /* Alinea el texto al centro */
    margin: 0; /* Elimina el margen por defecto */
        

}
.tit_temp{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    justify-content: center; 
    margin-left: -425px;
    
}

/*Formulario de Contacto*/

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: 'Raleway', sans-serif;
    transition: border-color 0.3s; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #2b2c2d; 
    outline: none; 
}

button {
    background-color: #919293; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #4c4d4e; 
}


/* Contenedor de Formulario */


.form-container {
    display: flex; 
    align-items: center; 
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    box-sizing: border-box; 
    
}

form {
    width: 80%; 
    max-width: 600px; 
    margin: 0 20px 0 0; 
    padding: 20px; 
    background-color: #f6f6f4f3; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}

.ftoformulario img{
    max-width: 300px; 
    height: auto;
    margin-left: 20px;  
}


/*Pie de Página*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
	
		background-color: #f6f6f4; 
		color: #fff; 
		padding: 20px;
		text-align: center;
	
	
}

footer img {
    max-width: 2rem;
    width: 100%;
    height: auto;
    
	margin-right: 15px;
}

.sorpresa {

    display: flex; 
    align-items: center; 
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 60px;
    justify-content: center;


}

.scroll-appear.active {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición final */
  }

.comentario{

    font-family: 'Raleway' , sans-serif;
    padding: 10px;
    font-weight: 350;
    margin-left: -10px;
    font-size: 20px;
}

.reparto{





}